#page .uf-menu-footer.upfront-navigation ul.menu > li.new_menu_item a.menu_item {
    color: #ufc6;
    font-family: 'Titillium Web', Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.133em;
}
#page .uf-menu-footer div[data-style='horizontal'] ul.menu > li.menu-item > a, #page .uf-menu-footer div[data-style='vertical'] ul.menu > li.menu-item > a {
    color: #ufc6;
    font-family: 'Titillium Web', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}
#page .uf-menu-footer div[data-style='horizontal'] ul.menu > li.menu-item > a:hover, #page .uf-menu-footer div[data-style='vertical'] ul.menu > li.menu-item > a:hover {
    color: #ufc1;
}
#page .uf-menu-footer div[data-style='horizontal'] ul.menu > li.menu-item {
    margin-left: 15px;
}
#page .uf-menu-footer div[data-style='horizontal'] ul.menu > li.menu-item:first-child {
    margin-left: 0;
}
#page .uf-menu-footer div[data-style='vertical'] ul.menu {
    padding: 15px 0;
}
#page .uf-menu-footer div[data-style='vertical'] ul.menu > li.menu-item {
    margin-top: 15px;
}
#page .uf-menu-footer div[data-style='vertical'] ul.menu > li.menu-item:first-child {
    margin-top: 0;
}
