#page .uf-text-subscribe-sidebar.upfront-plain_txt h4, #page .uf-text-subscribe-sidebar.upfront-plain_txt h4 a {
    color: #838e8d;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.250em;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}
#page .uf-text-subscribe-sidebar.upfront-plain_txt h4 a:before {
    background: url("UPFRONT_THEME_BASE/ui/issue-sprite.png") no-repeat;
    background-position: -855px -217px;
    content: "";
    display: block;
    height: 48px;
    margin: auto auto 15px;
    width: 50px;
}
#page .uf-text-subscribe-sidebar.upfront-plain_txt h4 a:hover {
    color: #ufc1;
}
#page .uf-text-subscribe-sidebar.upfront-plain_txt h4 a:hover:before {
    background-position: -695px -217px;
}
