#page .uf-text-team-description.upfront-plain_txt p {
    font-size: 14px;
    font-weight: 400;
    line-height: 2.143em;
}
#page .uf-text-team-description.upfront-plain_txt p:last-child {
    margin-bottom: 0;
}
