#page .uf-text-content-callout-mobile.upfront-plain_txt h2 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.1em;
    text-align: center !important;
}
