#page .uf-text-block-mag-sup.upfront-plain_txt p {
    border-bottom: 5px solid #ufc6;
    font-family: 'Pathway Gothic One', Arial, sans-serif;
    font-weight: 400;
    font-size: 55px;
    font-style: normal;
    line-height: 1em;
}
