#page .uf-text-block-heading-tablet.upfront-plain_txt {
    background: #ufc1;
    padding: 0 15px;
}
#page .uf-text-block-heading-tablet.upfront-plain_txt h1, #page .uf-text-block-heading-tablet.upfront-plain_txt h2 {
    background: #ufc6;
    display: inline-block;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.334em;
    margin: 0 0 0 15px;
    padding: 0 15px;
}
