#page .uf-text-team-social-instagram.upfront-plain_txt {
    padding-top: 0;
    padding-bottom: 0;
}
#page .uf-text-team-social-instagram.upfront-plain_txt p a {
    display: block;
    font-size: 0;
    height: 21px;
    line-height: 0;
    position: relative;
    width: 22px;
}
#page .uf-text-team-social-instagram.upfront-plain_txt p a:before {
    background: url("UPFRONT_THEME_BASE/ui/issue-sprite.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/issues-sprite.svg"), none;
    background-position: 92.644% 79.091%;
    content: "";
    display: block;
    height: 21px;
    pointer-events: none;
    width: 22px;
}
