#page .uf-text-404-title.upfront-plain_txt h1, #page .uf-text-404-title.upfront-plain_txt h2, #page .uf-text-404-title.upfront-plain_txt h3, #page .uf-text-404-title.upfront-plain_txt h4, #page .uf-text-404-title.upfront-plain_txt p {
    color: #5d6664;
    font-family: 'Pathway Gothic One', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 1.1em;
    position: relative;
}
#page .uf-text-404-title.upfront-plain_txt h1:after, #page .uf-text-404-title.upfront-plain_txt h2:after, #page .uf-text-404-title.upfront-plain_txt h3:after, #page .uf-text-404-title.upfront-plain_txt h4:after, #page .uf-text-404-title.upfront-plain_txt p:after {
    background-color: #ufc1;
    content: "";
    display: block;
    height: 5px;
    margin-top: 5px;
    width: 100%;
}
