#page .uf-text-block-mag-number.upfront-plain_txt {
   padding: 0 15px 0 0;
}
#page .uf-text-block-mag-number.upfront-plain_txt p {
    font-family: 'Pathway Gothic One', Arial, sans-serif;
    font-weight: 400;
    font-size: 130px;
    font-style: normal;
    line-height: 1em;
}
