#page .uf-text-home-block-title.upfront-plain_txt {
    padding: 0 0 0 30px;
}
#page .uf-text-home-block-title.upfront-plain_txt h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.167em;
}
