#page .uf-contact-contacts .ucontact-label-over {
    margin-bottom: 15px;
}
#page .uf-contact-contacts .upfront-field-name-container:after, #page .uf-contact-contacts .upfront-field-email-container:after, #page .uf-contact-contacts .upfront-field-message-container:after {
    background: url("UPFRONT_THEME_BASE/ui/issue-sprite.png") no-repeat;
    background-position: -75px -1037px;
    content: "";
    height: 8px;
    margin-top: -4px;
    right: 10px;
    position: absolute;
    top: 50%;
    width: 10px;
}
#page .uf-contact-contacts .upfront-field-message-container:after {
    margin-top: 0;
    top: 15px;
}
#page .uf-contact-contacts input.ucontact-input {
    min-height: auto;
    padding: 0 25px 0 10px;
}
#page .uf-contact-contacts textarea.ucontact-input {
    border-color: transparent;
    padding: 5px 25px 5px 10px;
}
#page .uf-contact-contacts textarea.ucontact-input:focus {
    border-color: #ufc2;
}
#page .uf-contact-contacts .upfront-submit-container {
    overflow: hidden;
    margin-bottom: 0;
}
#page .uf-contact-contacts .upfront-submit-container button[type="submit"] {
    background-color: #ufc2;
    border-radius: 4px;
    color: #ufc6;
    margin-top: 0;
    min-width: 120px;
    padding: 0 10px;
}
#page .uf-contact-contacts .upfront-submit-container button[type="submit"]:hover {
    background-color: #ufc0;
}
