.upfront_login-form form input {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.upfront_login-form form input:not([type=submit]):not([type=checkbox]) {
    color: #65808c;
    color: rgba(101, 128, 140, 0.7);
    border: 1px solid #d1ccc4;
    background: #fbf8f2;
}
