.upfront-accordion-container .upfront-accordion-wrap {
    border-bottom: none;
}
.upfront-accordion-container .accordion-panel .accordion-panel-title {
    border-top: none;
    border-bottom: 1px solid #ufc3;
    font-weight: 400;
    line-height: 1.389em;
    padding: 10px 45px 10px 15px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.upfront-accordion .upfront-accordion-container .accordion-panel .accordion-panel-title:after {
    border: none;
    content: "+";
    display: block;
    font-size: 22px;
    height: 24px;
    line-height: 1.091em;
    right: 10px;
    text-align: center;
    top: 25%;
    width: 15px;
}
.upfront-accordion .upfront-accordion-container .accordion-panel-active .accordion-panel-title:after {
    content: "-" ;
}
.upfront-accordion .upfront-accordion-container .accordion-panel:hover .accordion-panel-title:after {
    content: inherit;
}
.upfront-accordion .upfront-accordion-container .accordion-panel-active:hover .accordion-panel-title:after {
    content: inherit;
}
.accordion-panel .accordion-panel-title:hover {
    cursor: pointer;
}
.upfront-accordion-container .accordion-panel-active .accordion-panel-title {
    border-bottom-color: #ufc1;
}
.upfront-accordion .upfront-accordion-container .accordion-panel-content {
    padding: 15px;
}
.accordion-panel-content, .accordion-panel-content p {
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    line-height: 1.389em;
}
.accordion-panel-content a {
    color: #ufc1;
    text-decoration: underline;
}
.accordion-panel-content p:last-child {
    margin-bottom: 0;
}
