#page .uf-accordion-faq .upfront-accordion-container .accordion-panel .accordion-panel-title {
    border: none;
    font-weight: 300;
}
#page .uf-accordion-faq.upfront-accordion .upfront-accordion-container .accordion-panel .accordion-panel-title:after {
    background: url("UPFRONT_THEME_BASE/ui/issue-sprite.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/issues-sprite.svg"), none;
    background-position: 7.173% 6.204%;
    content: "";
    display: block;
    font-size: inherit;
    height: 25px;
    margin-top: -13px;
    line-height: inherit;
    right: 15px;
    top: 50%;
    width: 26px;
}
#page .uf-accordion-faq.upfront-accordion .upfront-accordion-container .accordion-panel-active .accordion-panel-title:after {
    background-position: 24.304% 6.204%;
}
