.upfront-tabs-container .tabs-menu-wrapper {
    overflow: hidden;
}
.upfront-tabs-container .tabs-menu {
    border-bottom: 1px solid #ufc3;
    margin: 0;
    overflow: hidden;
    padding-bottom: 10px;
}
.upfront-tabs-container .tabs-tab {
    border: 2px solid transparent;
    margin-right: 10px;
    padding: 0;
}
.upfront-tabs-container .tabs-tab:last-child {
    margin-right: 0;
}
.upfront-tabs-container .tabs-tab .inner-box {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.667em;
    padding: 0;
    text-transform: uppercase;
}
.upfront-tabs-container .utabs-content {
    margin: 10px 0 0;
    padding: 0;
}
.upfront-tabs-container .utabs-content, .upfront-tabs-container .utabs-content p {
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    line-height: 1.389em;
}
