#page .uf-widget-sidebar .widget .widgettitle {
    color: #ufc1;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.389em;
    margin: 0 0 15px;
}
#page .uf-widget-sidebar .widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#page .uf-widget-sidebar .widget ul li:before {
    content: "";
    display: none;
}
#page .uf-widget-sidebar .widget ul a {
    color: #ufc2;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.786em;
}
#page .uf-widget-sidebar .widget ul a:hover {
    color: #ufc1;
}
