.upfront-region-container-categories .upfront-region-center div.upfront-module-group-bg:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    opacity: 0;
    transition: 0.2s ease;
}
.upfront-region-container-categories .upfront-region-center .upfront-output-wrapper:hover div.upfront-module-group-bg:after {
    opacity: 0.7;
}
