#page .uf-uposts-grid.uposts-object {
    padding: 0;
}
#page .uf-uposts-grid .upfront_posts-list > ul, #page .uf-uposts-grid .uf-posts {
    overflow: hidden;
}
#page .uf-uposts-grid .upfront_posts-list .uf-post, #page .uf-uposts-grid .uf-posts .uf-post {
    float: left;
    margin: 0;
    width: 25%;
}
#page .uf-uposts-grid .uf-post .uposts-part {
    margin-bottom: 15px;
}
#page .uf-uposts-grid .uf-post .thumbnail {
    float: none;
    height: 165px;
    margin: 0 0 15px 0;
    width: 100%;
}
#page .uf-uposts-grid .uf-post .title h3, #page .uf-uposts-grid .uf-post .title a {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.136em;
}
#page .uf-uposts-grid .uf-post .content {
    margin-bottom: 5px;
    margin-left: 0;
}
#page .uf-uposts-grid .uf-post .content, #page .uf-uposts-grid .uf-post .content p {
    color: #838e8d;
}
#page .uf-uposts-grid .uf-post .comment_count {
    color: #ufc2;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.786em;
    margin-bottom: 0;
}
