#page .uf-button-icon-facebook.upfront-button a.upfront_cta {
    display: block;
    font-weight: 300;
    line-height: 1.389em;
    padding: 0;
}
#page .uf-button-icon-facebook.upfront-button a.upfront_cta:before {
    background: url("UPFRONT_THEME_BASE/ui/issue-sprite.png") no-repeat;
    background-position: -376px -56px;
    content: "";
    display: block;
    margin: auto auto 30px;
    height: 49px;
    width: 49px;
}
#page .uf-button-icon-facebook.upfront-button a.upfront_cta:hover:before {
    background-position: -536px -56px;
}
