.upfront-postpart-title .post_title, .upfront-postpart-title .post_title a {
    color: #ufc0;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.333em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.upfront-postpart-author_gravatar span.author_gravatar {
    display: block;
    float: right;
    overflow: hidden;
}
.upfront-postpart-author_gravatar .author_gravatar img {
    border-radius: 50%;
    display: block;
    height: 90px;
    width: 90px;
}
.upfront-postpart-author {
    text-align: right;
}
.upfront-postpart-author span, .upfront-postpart-author a.post_author {
    color: #ufc0;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.429em;
}
.upfront-postpart-author a.post_author:hover {
    color: #ufc1;
}
.upfront-postpart-date .updated, .upfront-postpart-date .updated-text {
    font-size: 14px;
    line-height: 1.429em;
    text-align: right;
}
.upfront-postpart-date .updated {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
}
.upfront-postpart-date .updated-text {
    font-weight: 700;
    margin-bottom: 5px;
}
.upfront-postpart-author a.post_author:hover {
    color: #ufc1;
}
.post_comments {
    position: relative;
}
.post_comments:before {
    background: #ufc1;
    content: "";
    display: block;
    height: 4px;
    margin-bottom: 30px;
    width: 100%;
}
.post_comments .post_comments_total {
    color: #ufc0;
    font-size: 30px;
    line-height: 1.167em;
}
.post_content img {
    display: block;
    height: auto;
    max-width: 100%;
}
.post_content .alignnone, .post_content .aligncenter, .post_content .alignright, .post_content .alignleft {
    max-width: 100%;
}
.post_content .alignnone, .post_content div.alignnone, .post_content .aligncenter, .post_content div.aligncenter, .post_content img.aligncenter {
    display: block;
    margin: 0 auto;
}
.post_content .alignright, .post_content img.alignright {
    float: right;
    margin: 0 0 15px 15px;
}
.post_content .alignleft, .post_content img.alignleft {
    float: left;
    margin: 0 15px 15px 0;
}
.post_content h1, .post_content h2, .post_content h3, .post_content h4, .post_content h5, .post_content h6, .post_content p, .post_content blockquote, .post_content address, .post_content table, .post_content pre, .post_content cite, .post_content q, .post_content iframe, .post_content embed {
    margin: 0 0 15px;
}
.post_content p {
    -ms-word-break: break-word;
    word-break: break-word;
}
.post_content blockquote p {
    color: #ufc2;
    font-family: "Lato", Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.250em;
}
.post_content blockquote p:last-child {
    margin-bottom: 0;
}
.post_content > ul, .post_content > ol {
    margin-bottom: 15px;
}
.post_content dl {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.667em;
    margin-bottom: 15px;
}
.post_content dt {
    font-weight: 700;
    text-decoration: underline;
}
.post_content dd {
    font-weight: 300;
    margin: 0 0 10px;
    padding-left: 10px;
}
.post_content div.wp-caption {
    margin-bottom: 20px;
}
.post_content div.wp-caption a {
    display: inline-block;
    position: relative;
}
.post_content div.wp-caption a:before {
    background: #ufc1;
    content: "";
    display: block;
    height: 100%;
    outline: 0;
    opacity: 0;
    position: absolute;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    width: 100%;
}
.post_content div.wp-caption a:hover:before {
    opacity: .7;
}
.post_content .wp-caption-text p,
.post_content p.wp-caption-text {
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.563em;
    margin: 0;
    padding: 10px 0;
}
.post_content .wp-caption-text a:hover:before{
    content: "";
    display: none;
}
.post_content .ueditor-insert {
    margin-bottom: 0;
}
.post_content .wp-caption-text > * {
    margin: 0;
}
.post_content .upfront-wrapper.uinsert-image-wrapper {
    padding: 0;
}
.post_content .upfront-wrapper.wp-caption-text {
    padding: 0;
}
.post_content iframe,
.post_content embed {
    display: block;
    max-width: 100%;
}
.post_content address {
    font-family: 'Lato', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
}
.post_content pre {
    background: #ufc1;
    color: #ufc6;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 400;
    padding: 15px !important;
    white-space: pre-wrap;
}
.post_content q,
.post_content cite {
    color: #ufc1;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.750em;
}
.post_content table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}
.post_content table > thead tr th {
    color: #ufc1;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}
.post_content table tr th,
.post_content table tr td {
    color: #ufc0;
    font-weight: 400;
    padding: 10px;
}
.post_content table > tbody tr:nth-child(odd) {
    background: #ufc6;
}
.post_content table > tbody tr:nth-child(even) {
    background: #ufc8;
}
.post_content table tr a,
.post_content table tr a:hover {
    font-weight: 400;
}
.post_content .post-password-form label {
    display: inline-block;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 400;
}
.post_content .post-password-form input[type="submit"] {
    margin-left: 10px;
}
.post_content .gallery .gallery-item .gallery-icon {
    text-align: left;
}
.post_content .gallery .gallery-item .gallery-icon a {
    display: inline-block;
    position: relative;
}
.post_content .gallery .gallery-item .gallery-icon a:before,
.post_content .gallery .gallery-item .gallery-icon a:after {
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
.post_content .gallery .gallery-item .gallery-icon a:before {
    background: #ufc1;
    z-index: 2;
}
.post_content .gallery .gallery-item .gallery-icon a:after {
    background: url("UPFRONT_THEME_BASE/ui/issue-sprite.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/issues-sprite.svg"), none;
    background-position: 23.626% 20.149%;
    content: "";
    height: 49px;
    width: 50px;
    z-index: 3;
}
.post_content .gallery .gallery-item .gallery-icon a:hover:before {
    opacity: .85;
}
.post_content .gallery .gallery-item .gallery-icon a:hover:after {
    opacity: 1;
}
.post_content .gallery .gallery-item .gallery-caption {
    font-size: 14px;
    max-width: 90%;
    margin: 0;
    padding: 0;
    text-align: left;
}