#page .uf-upost-mobile .part-author_gravatar {
    float: none;
    width: 100%;
}
#page .uf-upost-mobile .part-author_gravatar > .post-part {
    margin-left: 0;
    width: 100%;
}
#page .uf-upost-mobile .author_gravatar {
    float: none;
    text-align: center;
}
#page .uf-upost-mobile .author_gravatar img {
    display: inline-block;
}
#page .uf-upost-mobile .part-author {
    margin: 0;
    text-align: center;
    width: 100%;
}
#page .uf-upost-mobile .part-author > .post-part {
    margin-left: 0;
    width: 100%;
}
#page .uf-upost-mobile .upfront-postpart-author {
    float: none;
    text-align: center;
}
#page .uf-upost-mobile .part-date {
    float: none;
    width: 100%;
}
#page .uf-upost-mobile .part-date > .post-part {
    margin-left: 0;
    width: 100%;
}
#page .uf-upost-mobile .upfront-postpart-date .updated,
#page .uf-upost-mobile .upfront-postpart-date .updated-text {
    text-align: center;
}
#page .uf-upost-mobile .part-title {
    margin-top: 60px;
	width: 100%;
}
#page .uf-upost-mobile .part-title > .post-part {
    margin-left: 0;
    width: 100%;
}
#page .uf-upost-mobile .part-contents {
	width: 100%;
}
#page .uf-upost-mobile .part-contents > .post-part {
    margin-left: 0;
    width: 100%;
}
#page .uf-upost-mobile .part-comments_count > .post-part {
    margin-left: 0;
    width: 100%;
}